<!DOCTYPE html>
<html>
  <head>
    <%#= yield(:title) %><%# | Ruby on Rails Tutorial Sample App %>
    <%# カスタムヘルパー:full_titleを作成したので下記のコードになる %>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
